<navbar></navbar>
<div class="all">
    <div class="container">
        <div class="overview">
            <h1 style="text-align: center">The osu!catch Skill Rating</h1>
        </div>
        <div class="content">
            <h2 style="text-align: center">About</h2>
            <p style="text-align: center">
                The Skill Rating Project's goal is to use what readily available information we can get our hands on and
                adapt it into an osu!skills form of Skill Breakdown so that the Average Player can better spot their
                strengths and weaknesses.
                <br>
                In comparison to the Performance System baked into osu!, our rough Multi-Skill
                System displays Six Different Skills with which we have basic things in place to do as well of a job at
                Estimating player proficiency at each skill.
            </p>
            <h2 style="text-align: center">How?</h2>
            <p style="text-align: center">
                All of the following skills are balanced with community feedback into a single value.It's not always
                going to be accurate as we do not have all the tools neccesary to make this from scratch.</p>
            <div class="skills">
                <li>RFX: (Reflexes)
                    <ul>Approach Rate Data taken from Top 100 Scores on profile (by pp), Weighted by
                        Descending AR, Calculated based on Exponential Curve</ul>
                </li>
                <li>TEN: (Tenacity)
                    <ul>Calculated by Profile Performance (50%) and Profile Map Difficulty (50%,
                        Weighted
                        by
                        Descending Map Difficulty) based on Exponential Curve</ul>
                </li>
                <li>STA: (Stamina)
                    <ul>Performance Data and Mod-Adjusted Map Length Data taken from Top 100 Scores (by pp),
                        Calculated
                        by
                        Exponential Curve with added weight to Tenacity (50%)</ul>
                </li>
                <li>ACC: (Accuracy)
                    <ul>Mixture of Profile Accuracy (60%) and Tenacity (40%)</ul>
                </li>
                <li>REA: (Reading)
                    <ul>Human Quantified Estimation of any Convert / EZ-Mod / Low-AR / HD-Mod scores</ul>
                </li>
                <li>PRE: (Precision)
                    <ul>Performance Data and Circle Size Data taken from Top 100 Scores (by pp), Calculated
                        by Exponential Curve weighted by Circle Size (50%) and Tenacity (50%)</ul>
                </li>
            </div>
            <p>This project was started and is run by <a href="https://osu.ppy.sh/users/8611935"
                    target="self">Stats-Kun</a>. With the help from <a href="https://osu.ppy.sh/users/14544646"
                    target="self">Mario564</a>,
                <a href="https://osu.ppy.sh/users/9239206" target="self">Tomato</a>, <a
                    href="https://osu.ppy.sh/users/6403823" target="self">zove</a>, <a
                    href="https://osu.ppy.sh/users/4871211" target="self">Nekonyo</a> and <a
                    href="https://osu.ppy.sh/users/4586304" target="self">CyCeph</a>.
            </p>
        </div>
    </div>
</div>